:root {
  --primary: #a3d4d8;
  --secondary:white;
  --tertiary: #161718;
  --quatrinary: #4292d3;
  --lightblue: rgb(106, 163, 209);
  --light: #d2dce0;
  --lightdark: rgb(192, 191, 191);
  --dark: #4c504e;
  --error: rgb(214, 84, 52);
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
  text-shadow: 0 2px 0 rgba(122, 59, 59, 0.07);
  padding: 10;
  color: var(--dark-blue);
  margin: auto;
}

html, body, #root {
  padding: 10;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  background: #f1f5f8;
  color: var(--dark-blue);
  background-color: var(--secondary);
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
  padding-left:8px;
  padding-right:18px;
}
  
/* h1, */
/* h2, */
h3,
h4,
h5,
h6 {
  font-family: 'Audiowide', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  color: var(--tertiary);
  line-height: 1.25;
  margin-left: 5%;
}


h1 {
font-size: 2.25rem;
/* font-weight: bold; */
}

/* kt header  */
h2  {
  font-family: 'Audiowide';
  font-size: 2.50rem;
  text-indent: 5%;
  padding-top: 3%;
  padding-bottom: 0%;
  font-weight: bold;
  }


h3 {
font-size: 1.75rem;
margin-left: 5%;
}

h4 {
font-size: 1.5rem;
}

h5 {
font-size: 1.00rem;
font-family: 'Montserrat', Verdana, sans-serif;
/* margin-left: 1%; */
/* padding-left: 5%; */
font-weight: bold;
}

h6 {
font-size: 1rem;
margin-left: 5%;
}

p {
font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.0rem;
margin-top: 0;
margin-left: 5%;
margin-right: 15%;
}

div {
  margin-left: 0%;
  margin-right: 0%;
}

a {
/* text-decoration: none; */
font-family: 'Montserrat', sans-serif;
font-size: 1.00rem;
/* font-weight: lighter; */
margin-left: 5%;
color: var(--tertiary)
}

/* main body card  */
nav {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  /* background-color: rgb(186, 212, 229); */
  background-image: url('./assets/images/Mountains1.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  /* background-color: rgb(195, 211, 195); */
}

a.nav-link {
  color: #495057;
  font-style: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(186, 212, 229);
}
a.nav-link:hover {
  color: white;
  font-style: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(91, 154, 196);
}


img {
  margin-left: 5%;
}


.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

section div {
  margin-left: 0%;
  margin-right: 5%;
}

section div {
  margin-left: 0%;
  margin-right: 5%;
}

.footer {
  display: flex;
  padding: 45px;  
  align-items: center;
  margin: 45px;
  justify-content: center;
}

.footer-img {
  width: 30%;
}

